html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: var(--primary);
  font-weight: 300;
  line-height: 1.5;
  color: black;
}

a {
  color: var(--mustard);
  text-decoration: none;
}

a:hover {
  color: var(--mustard);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--desktop);
  width: calc( 100% - 2rem );
}

.slim {
  max-width: 800px;
}

.menu-toggle {
  cursor: pointer;
}

.menu-toggle:hover {
  color: var(--copper);
}

body:not(.menu-active) .menu-close,
body.menu-active .menu-open {
  display: none;
}

header {
  position: relative;
}

.homepage-section.intro {
  min-height: 70vh;
}

.homepage-section {
  min-height: 110vh;
}

.section-heading {
  position: sticky;
  top: 0;
}

.main {
  margin: 2rem auto;
  max-width: var(--desktop);
  width: calc( 100% - 2rem );
}

.intro-container {
  max-width: 740px;
}

h1.wp-block-heading {
  font: normal 2rem/1 var(--secondary);
  margin-bottom: 1rem;
}

.homepage-section .heading-areas {
  align-items: end;
  display: grid;
  grid-template-columns: 66.66% auto;
  margin: 0 auto;
  max-width: var(--desktop);
}

.homepage-section .logo {
  padding: 3rem 1rem 0 1rem;
}

.homepage-section.work,
.homepage-section.work nav {
  background-color: var(--mustard);
}

.homepage-section nav {
  grid-column: 1 / span 2;
}

.homepage-section.work nav a {
  color: black;
}

.homepage-section.team nav a {
  color: white;
}

.homepage-section .slogan {
  align-items: flex-end;
  display: flex;
  line-height: 1.25;
  height: 100%;
  width: 100%;
}

.homepage-section.work .slogan {
  background-color: white;
  color: var(--mustard);
}

.homepage-section.team .slogan {
  background-color: var(--mustard);
  color: black;
}

.homepage-section.contact .slogan {
  background-color: black;
  color: white;
}

.homepage-section.team,
.homepage-section.team nav {
  background-color: black;
  color: white;
}

.homepage-section.work .logo {
  background-color: white;
}

.homepage-section.team .logo {
  background-color: var(--mustard);
}

.homepage-section.contact nav {
  background-color: white;
}

.homepage-section.contact .logo {
  background-color: black;
}

.homepage-section .logo img {
  translate: 0 1px;
}

.homepage-section nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
}

.scroll2me .logo img,
.scroll2me nav,
.scroll2me .slogan span {
  opacity: 0;
  transition: all 500ms linear;
}

.scroll2me.active .logo img,
.scroll2me.active nav,
.scroll2me.active .slogan span,
.scroll2me:target .logo img,
.scroll2me:target nav,
.scroll2me:target .slogan span {
  opacity: 1;
}

#work .anchor-menu .work-link a,
#team .anchor-menu .team-link a,
#contact .anchor-menu .contact-link a {
  font-weight: bold;
}

.slogan h1,
.slogan span {
  font: normal 1rem/1.25 var(--primary);
  margin-bottom: 0.05rem;
}

.portfolio-item {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}

.portfolio-item .quote {
  color: white;
}

.portfolio-item .quote .attribution {
  font-weight: 500;
  line-height: 1.25;
  margin-top: 0.5em;
}

a.button {
  background-color: var(--mustard);
  border-radius: 2px;
  color: white;
  display: inline-block;
  font-weight: 600;
  padding: 1rem;
}

a.button:hover {
  background-color: black;
}

h2 {
  font: normal 2rem var(--secondary);
  margin-bottom: 1rem;
}

.portfolio-item a.button {
  background-color: white;
  color: var(--mustard);
  margin-top: 1rem;
}

.portfolio-item a.button:hover {
  background-color: black;
  color: white;
}

.homepage-portfolio {
  padding: 1rem 0;
}

.portfolio-item .portfolio-content a {
  color: black;
  font-weight: bold;
}