html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: var(--primary);
  font-weight: 300;
  line-height: 1.5;
  color: black;
}

a {
  color: var(--mustard);
  text-decoration: none;
}

a:hover {
  color: var(--mustard);
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

p {
  margin-bottom: 1rem;
}

.content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--desktop);
  width: calc(100% - 2rem);
}

.slim {
  max-width: 800px;
}

.menu-toggle {
  cursor: pointer;
}

.menu-toggle:hover {
  color: var(--copper);
}

body:not(.menu-active) .menu-close,
body.menu-active .menu-open {
  display: none;
}

header {
  position: relative;
}

.heading-section.intro {
  min-height: 25vh;
}

.heading-section {
  min-height: 110vh;
}

.section-heading {
  align-items: center;
  margin: 0 auto;
  max-width: var(--desktop);
  padding-top: 2rem;
  position: relative;
  width: calc(100% - 2rem);
  z-index: 10;
}

.main {
  margin: 2rem auto;
  max-width: var(--desktop);
  width: calc(100% - 2rem);
}

body:not(.homepage) .main {
  min-height: 90vh;
}

.intro-container {
  max-width: 740px;
}

h1.wp-block-heading {
  font: normal 2rem/1 var(--secondary);
  margin-bottom: 1rem;
}

.heading-section .heading-areas {
  align-items: end;
  display: grid;
  grid-template-areas:
    "logo logo"
    "slogan nav";
  grid-template-columns: 1fr auto;
  margin: 0 auto;
  width: 100%;
}

.heading-section .logo {
  grid-area: logo;
  padding: 3rem 1rem 0 1rem;
}

.heading-section .slogan {
  grid-area: slogan;
}

.heading-section .menu-toggle {
  grid-area: nav;
}

.homepage-video {
  margin: 0 auto;
  position: relative;
  width: 350px;
  translate: 0 39px;
  z-index: 2;
}

.homepage-video video {
  height: auto;
  width: 100%;
}

.heading-section.work,
.heading-section.work nav {
  background-color: var(--mustard);
}

.heading-section.work nav a {
  color: black;
}

.heading-section.team nav a {
  color: white;
}

.heading-section .slogan {
  align-items: flex-end;
  display: flex;
  line-height: 1.25;
  height: 100%;
  width: 100%;
}

.heading-section.work .slogan {
  color: black;
}

.heading-section.team .slogan {
  background-color: var(--mustard);
  color: black;
}

.heading-section.contact .slogan {
  background-color: black;
  color: white;
}

.heading-section.team,
.heading-section.team nav {
  background-color: black;
  color: white;
}

.heading-section.work .logo {
  background-color: white;
}

.heading-section.team .logo {
  background-color: var(--mustard);
}

.heading-section.contact nav {
  background-color: white;
}

.heading-section.contact .logo {
  background-color: black;
}

.heading-section .logo img {
  translate: 0 1px;
}

.heading-section nav ul {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  padding: 1rem;
}

#work .anchor-menu .work-link a,
#team .anchor-menu .team-link a,
#contact .anchor-menu .contact-link a {
  font-weight: bold;
}

.section-title h1,
.section-title h2 {
  font: 500 1rem/1.25 var(--primary);
  margin: 0;
}

.portfolio-item {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}

.portfolio-item .quote {
  color: white;
}

.portfolio-item .quote .attribution {
  font-weight: 500;
  line-height: 1.25;
  margin-top: 0.5em;
}

a.button {
  background-color: var(--mustard);
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-weight: 600;
  padding: 1rem;
}

a.button:hover {
  background-color: black;
}

h2 {
  font: normal 2rem var(--secondary);
  margin-bottom: 1rem;
}

.portfolio-item a.button {
  background-color: white;
  color: var(--mustard);
  margin-top: 1rem;
}

.portfolio-item a.button:hover {
  background-color: black;
  color: white;
}

.homepage-portfolio {
  padding: 1rem 0;
}

.portfolio-item .portfolio-content a {
  color: black;
  font-weight: bold;
}

.page-content p {
  margin-bottom: 1rem;
}

.homepage-team,
.homepage-contact {
  padding: 2rem 0;
}

.bio-image {
  background-position: top center;
  background-size: cover;
  border-radius: 3px 3px 0 0;
  height: 0;
  filter: grayscale(1);
  padding-top: 100%;
}

.bios-grid {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
}

.bio-meta {
  background-color: var(--mustard);
  border-radius: 0 0 3px 3px;
  display: flex;
  gap: 0.5rem;
  font-weight: 500;
  padding: 0.5rem;
}

.bio-meta .name {
  color: black;
}

.bio-content {
  font-size: 0.85rem;
  margin-top: 1rem;
}

.slim {
  max-width: 800px;
}

.wpcf7-form br {
  display: none;
}

.contact-form label {
  background-color: var(--mustard);
  border-radius: 3px;
  display: block;
  font-weight: 500;
  padding: 0;
}

.contact-form label .label-text {
  color: white;
  font-size: 0.85rem;
  padding: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid var(--mustard);
  border-radius: 0 0 3px 3px;
  font: normal 0.85rem 'Courier New', monospace;
  display: block;
  margin: 0;
  padding: 0.5rem;
  width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: black;
  outline: none;
}

.contact-form label:has(input:focus),
.contact-form label:has(textarea:focus) {
  background-color: black;
  color: white;
}

.contact-form input[type=submit] {
  border: 1px solid black;
  background-color: black;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  float: right;
  font: 500 1rem var(--primary);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  width: auto;
}

.contact-form input[type=submit]:hover {
  background-color: var(--mustard);
  border-color: var(--mustard);
}

.ltlmtn .wpcf7 form .wpcf7-response-output,
.ltlmtn .wpcf7 form.sent .wpcf7-response-output {
  border-color: black;
}

.ltlmtn .wpcf7-not-valid-tip {
  color: darkred;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0 0.5rem;
}

.header-area-1 {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 200px 1fr;
  padding: 1rem 0 0 0;
  position: relative;
}

.header-area-1:before {
  background-color: black;
  content: " ";
  height: calc(100% - 1px);
  left: 50%;
  position: absolute;
  top: 0;
  translate: -50% 0;
  width: 100vw;
  z-index: -1;
}

.page-header .slogan {
  align-self: end;
  color: white;
  line-height: 1;
  margin-bottom: 0.20em;
}

.header-area-2 {
  align-items: end;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr auto;
  padding: 1rem 0;
}

.page-header h1 {
  font: 600 1.5rem var(--primary);
  text-transform: uppercase;
}

.menu-toggle {
  background-color: white;
  border-radius: 3px 3px 0 0;
  padding: 0.25rem;
  font-size: 1.5rem;
  line-height: 0;
}

body.menu-active .menu-toggle {
  background-color: var(--mustard);
}

.page-header nav {
  background-color: var(--mustard);
  border-radius: 3px 0 3px 3px;
  overflow: hidden;
  max-height: 0;
  position: absolute;
  right: 1rem;
  transition: all 500ms linear 0s;
  translate: 0 -1rem;
}

.page-header nav a {
  color: white;
  font-size: 1.25rem;
}

.page-header nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

.page-header nav li:not(:last-of-type) {
  border-bottom: 1px solid black;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.page-header nav ul {
  list-style-type: none;
  padding: 1rem;
}

body.menu-active .page-header nav {
  max-height: 600px;
}

body:not(.menu-active) .menu-toggle {
  transition: background-color 500ms linear 500ms;
}

.archive-portfolio .quote {
  color: var(--mustard);
}

.archive-portfolio .portfolio-item a.button {
  background-color: var(--mustard);
}

footer {
  background-color: black;
  color: white;
}

footer a {
  color: var(--mustard);
}

.copyright {
  align-items: center;
  display: flex;
  height: 3rem;
  justify-content: center;
}

.portfolio-item-link {
  margin: 2rem 0;
}

.portfolio-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-grid a {
  color: black;
}

.portfolio-grid h2 {
  font: bold 1rem var(--primary);
  margin-top: 0.5rem;
}

.anchor-menu-container {
  position: relative;
}

.anchor-menu-container input.anchor-menu-toggle-checkbox {
  display: none;
}

.anchor-menu {
  background-color: white;
  border-radius: 3px 0 3px 3px;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 10;
}

.anchor-menu-container input:not(:checked)~label .anchor-menu-close,
.anchor-menu-container input:checked~label .anchor-menu-open {
  display: none;
}

.anchor-menu-container label {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  line-height: 0;
  padding: 0.25rem;
}

.anchor-menu-container input:checked~label~.anchor-menu {
  max-height: 999px;
}

.anchor-menu-container input:checked~label {
  background-color: rgb(255, 255, 255, 1);
}

.anchor-menu ul {
  list-style: none;
  padding: 1rem;
}

.anchor-menu a {
  color: black;
  white-space: nowrap;
}

.heading-areas {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
}

.homepage-section.team {
  background-color: black;
  color: white;
}

.homepage-section.team a {
  color: var(--mustard);
}

.homepage-section.team .anchor-menu,
.homepage-section.team .anchor-menu-container input:checked~label {
  background-color: var(--mustard);
}

.homepage-section.team input:checked~.anchor-menu-toggle,
.homepage-section.team .anchor-menu a {
  color: black;
}

.homepage-section.contact .anchor-menu,
.homepage-section.contact .anchor-menu-container input:checked~label {
  background-color: black;
}

.homepage-section.contact input:checked~.anchor-menu-toggle,
.homepage-section.contact .anchor-menu a {
  color: white;
}

.footer-logo {
  border-bottom: 3px solid var(--mustard);
}

.footer-logo-container img {
  height: 50px;
  width: auto;
  translate: 0 2px;
}

main {
  min-height: 80vh;
}

@media screen and (min-width: 600px) {
  .homepage-video {
    width: 500px;
    translate: 0 51px;
  }
}

@media screen and (min-width: 800px) {
  .homepage-video {
    width: 600px;
    translate: 0 60px;
  }
}

@media screen and (min-width: 1080px) {
  .homepage-video {
    width: 800px;
    translate: 0 78px;
  }
}