@media screen and (min-width: 800px) {
    .heading-section .heading-areas {
        grid-column-gap: 1rem;
        grid-template-columns: auto auto 1fr;
    }

    .heading-section nav {
        grid-column: auto;
    }
    
    .heading-section .section-heading {
        margin: 0 auto;
    }
    
    .heading-section nav ul {
        justify-content: flex-end;
        padding: 0;
    }
    
    .heading-section .logo {
        padding: 4rem 0 0 0;
    }
    
    section.heading-section.work nav a {
        color: black;
    }
    
    .heading-section .heading-areas {
        width: calc( 100% - 2rem );
    }
    
    .heading-section.work .section-heading,
    .heading-section.work nav {
        background-color: white;
    }

    .heading-section.work .section-heading {
        border-bottom: 3px solid var(--mustard);
    }
    
    .heading-section.team .section-heading,
    .heading-section.team nav {
        background-color: var(--mustard);
    }
    
    .heading-section.team .section-heading {
        border-bottom: 3px solid black;
    }
    
    .heading-section.contact .section-heading,
    .heading-section.contact nav {
        background-color: black;
    }
    
    .heading-section.contact .section-heading {
        border-bottom: 3px solid white;
    }

    .homepage-portfolio {
        padding: 2rem 0;
    }

    .portfolio-item {
        grid-gap: 2rem;
        grid-template-areas: "quote null" "image content";
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 4rem;
    }
    
    .portfolio-item .quote {
        grid-area: quote;
    }
    
    .portfolio-item .portfolio-image {
        grid-area: image;
    }
    
    .portfolio-item .portfolio-content {
        grid-area: content;
    }

    .portfolio-item:nth-of-type(even) {
        grid-template-areas: "null quote" "content image";
    }

    .bios-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-form .columns_1-1 {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;
    }
}