@media screen and (min-width: 800px) {
    .homepage-section .heading-areas {
        grid-column-gap: 1rem;
        grid-template-columns: auto auto 1fr;
    }

    .homepage-section nav {
        grid-column: auto;
    }
    
    .homepage-section .section-heading {
        margin: 0 auto;
    }
    
    .homepage-section nav ul {
        justify-content: flex-end;
        padding: 0;
    }
    
    .homepage-section .logo {
        padding: 4rem 0 0 0;
    }
    
    section.homepage-section.work nav a {
        color: black;
    }
    
    .homepage-section .heading-areas {
        width: calc( 100% - 2rem );
    }
    
    .homepage-section.work .section-heading {
        background-color: white;
    }
    
    .homepage-section.team .section-heading {
        background-color: var(--mustard);
    }
    
    .homepage-section.contact .section-heading {
        background-color: black;
    }
}